.public_fixedDataTable_header:hover .public_fixedDataTableCell_main {
  background-color: yellow;
}


body {

  .outofdate{
color: red;
text-align: center;
  }
.notoutofdate {
color: green;
text-align: center;
}
.align-right {
text-align: right;
align: right;
}
  .align-center {
    text-align: center;
  }
  background-color: green;
  background: green;
font-family: 'Ubuntu', sans-serif;
#content {
font-family: 'Fontdiner Swanky', cursive;
}
h1 {
font-size: 2em;
}
h3 {
font-size: 1.17em;
}
}
