textarea {
 font-family: monospace;
 position: fixed;
 float: left;
 height: 90%;
 width: 30%;
}
#mycontent {
 left: 35%;
 height: 100%;
 width: 90%-60%;
 position: absolute;
 overflow: scroll;
 font-family: sans-serif;
}
